---

---

<div id="docsearch"></div>
<style is:global>
  .DocSearch-Button:hover {
    box-shadow: 0 0 0 2px #FF6A00 !important;
  }
</style>
<script>
  import docsearch from "@docsearch/js";
  import "@docsearch/css";
  docsearch({
    container: "#docsearch",
    appId: "JDNNSL3FE3",
    indexName: "rocketmq-learning",
    apiKey: "c592bab45d466e353494eb684d89bea0",
  });
</script>
