---
import { useTranslations } from "@i18n/util";
import AnnCard from "@components/home/AnnCard/index.astro";
import { NEW_ANN_CONTENT } from "@/constant";

const t = useTranslations(Astro);
const data = NEW_ANN_CONTENT.sort(
  (a, b) => new Date(b.date).valueOf() - new Date(a.date).valueOf()
);
---

<div class="home-newann">
  <div class="article-header">
    <h2 class="title text-model">
      {t("home.new.ann")}
    </h2>
  </div>

  <div class="mb-[24px]">
    {data.map((item) => <AnnCard itemData={item} />)}
  </div>
  <a class="block w-[100%] h-[9.5rem]" target="_blank" href="https://www.aliyun.com/product/rocketmq">
    <img src="https://img.alicdn.com/imgextra/i2/O1CN01tjfyS41GfI1GcJ5nJ_!!6000000000649-2-tps-990-304.png" class="w-[100%] h-[100%]" />
  </a>
</div>
<style is:global>
  .home-newann {
    .article-header {
      height: 5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .title {
        font-family: Source Han Sans;
        font-weight: normal;
        padding-left: 24px;
        padding-right: 8px;
      }
    }
  }
</style>
