---
import { isChinese } from "@i18n/util";
import { useTranslations } from "@i18n/util";
import { HOTTUTORIALDATA } from "@/constant";
import SliderCards from "./SliderCards/index.astro";
const t = useTranslations(Astro);
const ifzh = isChinese(Astro);
const itemsPerPage = 3; // 每屏显示的元素个数
let currentScreen = 0;
---

<SliderCards
  className={"hotTutorial-box"}
  prevId={"prevtutorial"}
  nextId={"nexttutorial"}
  title={t("learning.base.data")}
>
  <div class="hotTutorial-content" id="hotTutorial-content">
    {
      HOTTUTORIALDATA.slice(
        currentScreen * itemsPerPage,
        (currentScreen + 1) * itemsPerPage
      ).map((item) => (
        <div class="item-content">
          <div class="item-content-left">
            <img src="/img/home/tutorial.svg" />
          </div>
          <div class="item-content-right">
            <div class="right-title">{item.title}</div>
            <a class="arrow" />
          </div>
        </div>
      ))
    }
  </div>
</SliderCards>

<script>
  import { HOTTUTORIALDATA } from "@/constant";
  document.addEventListener("astro:page-load", () => {
    let currentScreen = 0;
    const itemsPerPage = 3; // 每屏显示的元素个数
    const prevBtn = document.getElementById("prevtutorial");
    const nextBtn = document.getElementById("nexttutorial");
    const content = document.getElementById("hotTutorial-content");
    if (prevBtn) {
      function showItem(currentScreen) {
        const newData = HOTTUTORIALDATA.slice(
          currentScreen * itemsPerPage,
          (currentScreen + 1) * itemsPerPage
        );
        content.innerHTML = "";
        newData.forEach((item, idx) => {
          const html = `<div class="item-content">
        <div class="item-content-left">
          <img src='/img/home/tutorial.svg'/>
        </div>
        <div class="item-content-right">
          <div class="right-title">${item.title}</div>
          <a class="arrow"></a>
        </div>
      </div>`;
          content.innerHTML += html;
        });
      }

      prevBtn.addEventListener("click", () => {
        if (currentScreen > 0) {
          currentScreen--;
        } else {
          currentScreen = Math.ceil(HOTTUTORIALDATA.length / itemsPerPage) - 1;
        }
        showItem(currentScreen);
      });
      nextBtn.addEventListener("click", () => {
        if (
          currentScreen <
          Math.ceil(HOTTUTORIALDATA.length / itemsPerPage) - 1
        ) {
          currentScreen++;
        } else {
          currentScreen = 0;
        }
        showItem(currentScreen);
      });
    }
  });
</script>
<style is:global>
  .hotTutorial-box {
    width: 60%;
    /* height: 16.375rem; */
    border-radius: 16px;
    opacity: 1;
    background: rgba(234, 234, 234, 0.39);
    margin-right: 24px;
    padding: 0 24px 32px 24px;

    .hotTutorial-header {
      height: 5rem;
      display: flex;
      align-items: center;
      .title {
        font-family: Source Han Sans;
        font-weight: normal;
      }
    }
    .hotTutorial-content {
      display: flex;
      height: calc(100% - 5rem);
      margin-right: -1.5rem; /* 补偿右外边距的合并 */

      .item-content {
        display: flex;
        flex: 0 0 calc(33.33% - 1.5rem); /* 每个元素占25%的宽度并减去1rem的右外边距 */
        margin-right: 1.5rem;

        .item-content-left {
          width: 45%;
          height: 9.375rem;
          img {
            width: 100%;
            height: 100%;
          }
        }

        .item-content-right {
          width: 55%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 8px 0 8px 12px;
          .right-title {
            line-height: 1.5rem;
          }
        }
        .arrow {
          position: relative;
          display: inline-block;
          width: 100px;
          height: 20px;
          text-align: center;
        }

        .arrow::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          transform: translate(0, -50%);
          width: 24px;
          height: 1px;
          background-color: #a3a6b3;
        }

        .arrow::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 19px;
          transform: translate(-50%, -50%) rotate(45deg);
          width: 8px;
          height: 8px;
          border-top: 1px solid #a3a6b3;
          border-right: 1px solid #a3a6b3;
        }

        .arrow:hover::before {
          background-color: #2b3b3a;
        }
        .arrow:hover::after {
          border-color: #2b3b3a;
        }
      }
      /* 最后一个元素去除右外边距 */
      .item-content:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
  @media (max-width: 50rem) {
    .hotTutorial-box {
      width: 100%;
      margin-right: 0;
      .hotTutorial-content {
        flex-wrap: wrap;
        .item-content {
          flex: 0 0 calc(100% - 1.5rem); /* 每个元素占100%的宽度并减去1rem的右外边距 */
        }

        .item-content:nth-child(3n + 1),
        .item-content:nth-child(3n + 2) {
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
    }
  }
</style>
