---
import { isChinese } from "@i18n/util";
import { useTranslations } from "@i18n/util";
import { BASE_LEARNDATA } from "@/constant";
import SliderCards from "./SliderCards/index.astro";
const t = useTranslations(Astro);
const ifzh = isChinese(Astro);
const itemsPerPage = 3; // 每屏显示的元素个数
let currentScreen = 0;
---

<div class="hotTutorial-box bg-card">
  <h2 class="follow-header text-title">基础学习资料</h2>
  <div class="hotTutorial-content" id="hotTutorial-content">
    {
      BASE_LEARNDATA.slice(
        currentScreen * itemsPerPage,
        (currentScreen + 1) * itemsPerPage
      ).map((item) => (
        <a class="item-content" href={item.href}>
          <div class="item-content-top">
            <img src={item.img} />
          </div>
          <div class="item-content-bottom">
            <div class="content-bottom-title text-title">{item.title}</div>
            {/* <a class="arrow" /> */}
          </div>
        </a>
      ))
    }
  </div>
</div>

<script>
  import { BASE_LEARNDATA } from "@/constant";
  document.addEventListener("astro:page-load", () => {
    let currentScreen = 0;
    const itemsPerPage = 3; // 每屏显示的元素个数
    const prevBtn = document.getElementById("prevtutorial");
    const nextBtn = document.getElementById("nexttutorial");
    const content = document.getElementById("hotTutorial-content");
    if (prevBtn) {
      function showItem(currentScreen) {
        const newData = BASE_LEARNDATA.slice(
          currentScreen * itemsPerPage,
          (currentScreen + 1) * itemsPerPage
        );
        content.innerHTML = "";
        newData.forEach((item, idx) => {
          const html = `<a class="item-content">
        <div class="item-content-top">
          <img src='/img/home/tutorial.svg'/>
        </div>
        <div class="item-content-bottom">
          <div class="content-bottom-title text-title">${item.title}</div>
        </div>
      </a>`;
          content.innerHTML += html;
        });
      }

      prevBtn.addEventListener("click", () => {
        if (currentScreen > 0) {
          currentScreen--;
        } else {
          currentScreen = Math.ceil(BASE_LEARNDATA.length / itemsPerPage) - 1;
        }
        showItem(currentScreen);
      });
      nextBtn.addEventListener("click", () => {
        if (
          currentScreen <
          Math.ceil(BASE_LEARNDATA.length / itemsPerPage) - 1
        ) {
          currentScreen++;
        } else {
          currentScreen = 0;
        }
        showItem(currentScreen);
      });
    }
  });
</script>
<style is:global>
  .hotTutorial-box {
    width: 60%;
    /* height: 16.375rem; */
    border-radius: 16px;
    opacity: 1;
    margin-right: 24px;
    padding: 0 1.5rem 1.5rem 1.5rem;

    .hotTutorial-header {
      height: 5rem;
      display: flex;
      align-items: center;
      .title {
        font-family: Source Han Sans;
        font-weight: normal;
      }
    }
    .hotTutorial-content {
      display: flex;
      height: calc(100% - 5rem);
      margin-right: -1.5rem; /* 补偿右外边距的合并 */

      .item-content {
        flex: 0 0 calc(33.33% - 1.5rem); /* 每个元素占25%的宽度并减去1rem的右外边距 */
        margin-right: 1.5rem;

        .item-content-top {
          height: 72%;
          img {
            border-radius: 8px;
            width: 100%;
            height: 100%;
          }
        }

        .item-content-bottom {
          text-align: center;
          padding-top: 12px;
          .content-bottom-title {
            font-size: 0.75rem;
            line-height: 1.125rem;
          }
        }
        .arrow {
          position: relative;
          display: inline-block;
          width: 100px;
          height: 20px;
          text-align: center;
          cursor: pointer;
        }

        .arrow::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          transform: translate(0, -50%);
          width: 24px;
          height: 1px;
          background-color: #a3a6b3;
        }

        .arrow::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 19px;
          transform: translate(-50%, -50%) rotate(45deg);
          width: 8px;
          height: 8px;
          border-top: 1px solid #a3a6b3;
          border-right: 1px solid #a3a6b3;
        }

        /* .arrow:hover::before {
          background-color: #2b3b3a;
        }
        .arrow:hover::after {
          border-color: #2b3b3a;
        } */
      }
      /* 最后一个元素去除右外边距 */
      .item-content:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
  @media (max-width: 50rem) {
    .hotTutorial-box {
      width: 100%;
      margin-right: 0;
      .hotTutorial-content {
        flex-wrap: wrap;
        .item-content {
          flex: 0 0 calc(100% - 1.5rem); /* 每个元素占100%的宽度并减去1rem的右外边距 */
        }

        .item-content:nth-child(3n + 1),
        .item-content:nth-child(3n + 2) {
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
    }
  }
</style>
