---
import { useTranslations } from "@i18n/util";
const t = useTranslations(Astro);
import { LinkButton } from "@serverless-cd/goat-ui";
import { SITE } from "@utils/config";
---

<footer-layout
  class="home-footer w-full bg-base-footer flex flex-col items-center pb-10"
>
  <!-- <slot name="after-footer" /> -->
  <div
    class="footer-top flex-col flex bg-footer rounded-2xl text-center lg:flex-row"
  >
    <div class="footer-left flex flex-col gap-0 text-left my-9 ml-10 max-w-2xl">
      <p
        class="footer-left-title text-neutral text-[1.75rem] leading-9 lg:w-[25.9375rem] lg:h-10"
      >
        {t("commmon.footer.title")}
      </p>
      <p
        class="footer_left_des flex-1 text-neutral text-[0.875rem] w-[42rem] h-[4.5rem] mt-4 mb-[3rem]"
      >
        RocketMQ 自 2012
        年诞生于阿里巴巴，服务于淘宝等核心交易系统，历经多次双十一万亿级数据洪峰稳定性验证，至今已有十余年发展历程。RocketMQ
        致力于构建的低延迟、高并发、高可用、高可靠的分布式“消息、事件、流”统一处理平台，覆盖云边端⼀体化数据处理场景，帮助企业和开发者在智能化时代，轻松构建事件驱动架构的
        AI 原生应用。
      </p>
      <div class="flex">
        <LinkButton
          href={SITE.githubUrl}
          text="GitHub"
          theme="gray-02"
          textTheme="title"
          classes={{ title: "font-medium" }}
        />
      </div>
    </div>
    <div
      class="footer-right grid grid-cols-2 gap-2 flex text-left mt-9 ml-[9.625rem]"
    >
      <div>
        <p
          class="text-neutral text-[0.75rem] leading-4 tracking-[.15em] lg:mb-[3.0625rem]"
        >
          资源
        </p>
        <ul class="list-none w-full h-4 ps-0 text-title">
          <li>
            <a
              href="https://developer.aliyun.com/ebook/8122"
              target="_blank"
              class="text-[.875rem] font-medium leading-5 tracking-normal mb-4 no-underline"
            >
              电子书
            </a>
          </li>
          <li>
            <a
              href="https://www.aliyun.com/product/rocketmq"
              target="_blank"
              class="text-[.875rem] font-medium leading-5 tracking-normal mb-4 no-underline"
            >
              云服务
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div
    class="w-[85.125rem] self-center divider divider-vertical bg-success mt-[2.5rem] mb-0 h-[0.05rem]"
  >
  </div>
  <!-- TODO: 底部水印 -->
  <div
    class="bottom_watermark text-[.875rem] text-info leading-6 text-center tracking-normal lg:pb-1 lg:pt-8"
  >
    Copyright © 2023 RocketMQ
  </div>
</footer-layout>

<style is:global>
  footer-layout {
    a {
      text-decoration: none; /* 清除下划线等默认样式 */
      color: inherit; /* 继承父元素的颜色 */
    }
    .footer-top {
      width: 85.125rem;
    }
    @media (min-width: 50rem) and (max-width: 86rem) {
      .home-footer {
        padding: 2.5rem;
      }
      .footer-top {
        height: auto;
        width: 100%;
        min-height: 28rem;
      }
      .footer-right {
        margin-left: 2.5rem;
        margin-bottom: 2rem;
      }
      .footer-left-button {
        margin: 1rem 0rem;
      }
      .footer-right > div {
        height: auto;
      }
      .footer-right p {
        margin-bottom: 2rem;
      }
      .footer-right ul {
        height: 100%;
      }
      .divider-vertical {
        width: 100%;
      }
    }
    @media (max-width: 50rem) {
      .home-footer {
        padding: 1.5rem !important;
      }
      .footer-top {
        /* align-items: center; */
        min-height: 28rem;
        padding: 1.5rem;
        height: auto;
        width: 100%;
      }

      .footer-left {
        width: 100%;
        margin-left: 0;
        margin-bottom: 1rem;
        margin-top: 0;
      }

      .footer-left p {
        margin: 0rem 0rem 1rem 0rem;
        width: auto;
        height: auto;
      }
      .footer-left-title {
        font-size: 1.125rem;
      }
      .footer-left-des {
        font-size: 0.875rem;
      }

      .footer-left-button {
        margin: 1rem 0rem;
        width: 6rem;
        height: 2rem;
        min-height: 2rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
      }

      .footer-right {
        width: 100%;
        margin: 0rem !important;
        padding-top: 0rem;
        overflow: hidden;
      }

      .footer-right > div {
        margin-right: 1rem;
        margin-bottom: 1rem;
        width: 8.25rem;
        height: auto;
      }

      .footer-right p {
        width: 8.25rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
      }
      .footer-right ul {
        height: 100%;
      }
      .footer-right a {
        font-size: 0.75rem !important;
      }
      .bottom_watermark {
        margin: 0rem 0.5rem;
        padding: 0.5rem 0rem;
      }
      .divider-vertical {
        width: 100%;
      }
    }
  }
</style>
