---
import { isChinese } from "@i18n/util";
import { useTranslations } from "@i18n/util";
import { Arrow } from "../icon";
import { ALL_ARTICLE_TAG } from "@/constant";
import BlogButton from "@components/home/ArticleByTag/BlogButton.astro";
import { getCollection } from "astro:content";

const t = useTranslations(Astro);
const ifzh = isChinese(Astro);
const { activeTag } = Astro.props;
---

<div class="hot-tags-box bg-card">
  <div class="hot-tags-header">
    <h2 class="title text-title">
      {t("learning.tags")}
    </h2>
  </div>
  <div>
    {
      ALL_ARTICLE_TAG.map((item) => (
        <span class="inline-block mb-2">
          <BlogButton
            href={item.href}
            text={item.title}
            variant={item.type == activeTag ? "primary" : "secondary"}
          />
        </span>
      ))
    }
  </div>
</div>
<style>
  .hot-tags-header {
    /* height: 5rem; */
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    .title {
      font-family: Source Han Sans;
      font-weight: normal;
    }
  }
  .hot-tags-box {
    margin-top: 1.25rem;
    border-radius: 1rem;
    opacity: 1;
    padding: 1.5rem;
    padding-right: 0.5rem;
  }
</style>
