---
import { isChinese } from "@i18n/util";
import { useTranslations } from "@i18n/util";
import { Arrow } from "../icon";
import { RECOMMEND_DATA } from "@/constant";

const t = useTranslations(Astro);
const ifzh = isChinese(Astro);
---

<div>
  <div class="learning-data-header">
    <h2 class="title text-model">
      {t("learning.recommend")}
    </h2>
  </div>
  <div class="learning-data-box bg-card">
    {
      RECOMMEND_DATA.map((item) => (
        <a href={item.href}>
          <span class="text-title">{item.title} </span>
          <div class="w-[10px] h-[10px]">
            <img src="/img/learning/arrow.png" />
          </div>
        </a>
      ))
    }
  </div>
</div>